<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="simulationCounter" value="10000" />
   
    <add key="AttackName" value="BLE Attack" />
    
    <add key="targetNode" value="victimNode" />
    
    <add key="voltageOutputFilePath" value="Test\\outputVolt.csv" />
    
    <add key="ChargeOurtputFilePath" value="Test\\outputCharge.csv" />
    
    <add key="applyCountermeasures" value='TRUE' />
   
    <add key="generateAlert" value='TRUE' />
   
    <add key="responsibleStakeholder" value="ITadmin\SusanJose" />
   
    <add key="detectPercent" value='0.9' />
  </appSettings>
</configuration>